<div class="sign-up-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (submit)="onSubmit()">
        <mat-form-field>
          <input matInput placeholder="Username" id="username" name="username" required formControlName="username">
          <mat-error *ngIf="isInvalidControl(form,'username')">{{ errorMessagesForControl(form,'username')}}</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="password" placeholder="Password" id="password" name="password" formControlName="password">
          <mat-error *ngIf="isInvalidControl(form,'password')">{{ errorMessagesForControl(form,'password')}}</mat-error>
        </mat-form-field>
        <section class="example-section">
          <mat-radio-group aria-label="Select an option" formControlName="role">
            <mat-radio-button value="ROLE_USER">User</mat-radio-button>
            <mat-radio-button value="ROLE_ENTREPRENEUR">Entrepreneur</mat-radio-button>
            <mat-error *ngIf="isInvalidControl(form,'role')">{{ errorMessagesForControl(form,'role')}}</mat-error>
          </mat-radio-group>
        </section>
        <button mat-raised-button color="primary">Sign Up</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
