<mat-card class="auth-card">
  <mat-card-title class="auth-card-title">REGISTRO DE TIENDA</mat-card-title>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput placeholder="Nombre de la tienda" formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Número RUC" formControlName="ruc" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Teléfono" formControlName="phone" required>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Registrarse</button>
  </form>
</mat-card>
