<mat-card-footer class="footer_cont">
  <div class="foot-col">
    <h3>COMPERU</h3>
  </div>
  <div class="foot-col">
    <h3>Enlaces</h3>
    <a href=""><h4>Principal</h4></a>
    <a href=""><h4>About</h4></a>
    <a href=""><h4>Contact</h4></a>
    <a href=""><h4>Team</h4></a>
  </div>
  <div class="foot-col">
    <h3>Categorías</h3>
    <a href=""><h4>Tecnología</h4></a>
    <a href=""><h4>Moda</h4></a>
    <a href=""><h4>Mascotas</h4></a>
    <a href=""><h4>Decorativos</h4></a>
  </div>

  <div class="foot-col">
    <h3>Social</h3>
      <mat-icon >facebook</mat-icon>
      <mat-icon>twitter</mat-icon>
      <mat-icon>instagram</mat-icon>

  </div>
</mat-card-footer>
