<div class="detail-principal-container">

  <section class="product-section">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="backProducts()" >
      <mat-icon>keyboard_backspace</mat-icon>
    </button>

    <section class="principal-detail-section">

      <div class="product-image-section" >
        <img src="{{productData.imageUrl}}" class="image-product" alt="Principal product image">
        <button mat-icon-button [ngStyle]="{'color': isFavorite ? favoriteColor : initialColor}" (click)="addToWishlist()" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>

      <div class="product-information-section">

        <p class="information-product-name">{{productData.name}}</p>
        <p class="information-product-price">{{productData.price | currency:'USD':true }}</p>
        <div class="information-container-brand">
          <p class="information-container-label">Brand: </p>
          <p class="information-product-brand">{{productData.brand.name}}</p>
        </div>
        <p style="font-size: 15px;font-weight: 500;margin-top: 5px">Price Comparator </p>
<!--        <div class="quantity-selector">-->
<!--          <label for="quantity">Quantity:</label>-->
<!--          <input type="number" id="quantity" min="1" max="100" [(ngModel)]="selectedQuantity">-->
<!--        </div>-->
        <div class="comparator-container">
          <app-comparator [product]="productData" ></app-comparator>
        </div>

        @if (!this.addedToCart){
          <button mat-flat-button color="primary" (click)="addToCart()">Add to cart <mat-icon>add_shopping_cart</mat-icon></button>

        } @else {
          <button mat-button color="warn" style="color: #FF8082" (click)="removeToCart()">Remove to cart <mat-icon>remove_shopping_cart</mat-icon></button>

        }

      </div>
    </section>



    <section class="principal-detail-section second-container" >
<!--      <div class="product-specifications-section" id="aux-container">-->
<!--      </div>-->
      <div class="product-specifications-section" >

        <div><span style="font-weight: bold">Model Number:</span><p>{{productData.modelNumber}}</p></div>
        <div><span style="font-weight: bold">Seller: </span><p>{{userData.username}}</p></div>
        <div><span style="font-weight: bold">Description:</span><p>{{productData.description}}</p></div>
      </div>

      <section class="review-section" style="display: flex;flex-direction: column">
        <p style="font-weight: 600;font-size: 20px;align-self: start;margin-top: 5px;margin-bottom: 15px;height: auto">Reviews about the product</p>
        <div class="new-review-container" style="display: flex; flex-direction: column; width: 100%;">
          <mat-form-field appearance="outline">
            <mat-label>Write your review</mat-label>
            <textarea matInput class="new-review-input" [(ngModel)]="review.content"></textarea>
          </mat-form-field>
          <div style="display: flex; justify-content: space-between; align-items: start;">
            <div class="rating-stars-container" style="display: flex; gap: 5px; align-items: center;">
              <div class="rating-stars">
                <mat-icon *ngFor="let star of stars; let i = index"
                          (click)="rate(i + 1)"
                          [ngClass]="{'selected': i < rating}">
                  {{ i < rating ? 'star' : 'star_border' }}
                </mat-icon>
              </div>
            </div>
            <button mat-button color="accent" class="submit-review-button" style="align-self: start;" (click)="makeReview()">Submit</button>

          </div>
<!--          <input type="text" class="new-review-input" placeholder="Write your review..." />-->
        </div>
        <app-list-reviews  style="width: 100%"/>
      </section>
    </section>
  </section>

</div>
