<mat-card>
  <h1>Métodos de envío</h1>
  <form (ngSubmit)="onSubmit(shippingForm)" #shippingForm="ngForm">
    <div class="form-column">
      <label for="firstName">Nombres:*</label>
      <input type="text" id="firstName" ngModel name="firstName" required>

      <label for="lastName">Apellidos:*</label>
      <input type="text" id="lastName" ngModel name="lastName" required>

      <label for="dni">DNI o RUC:*</label>
      <input type="text" id="dni" ngModel name="dni" required>

      <label for="department">Departamento:*</label>
      <input type="text" id="department" ngModel name="department" required>
    </div>

    <div class="form-column">
      <label for="province">Provincia:*</label>
      <input type="text" id="province" ngModel name="province" required>

      <label for="district">Distrito:*</label>
      <input type="text" id="district" ngModel name="district" required>

      <label for="address">Dirección:*</label>
      <input type="text" id="address" ngModel name="shippingAddress" required>

      <label for="postalCode">Código Postal:*</label>
      <input type="text" id="postalCode" ngModel name="postalCode" required>
    </div>

    <button type="submit">Continuar al pago</button>
  </form>
</mat-card>
