
<mat-toolbar class="custom-toolbar">
  <div>

    <span class="toolbar-title">ComPeru</span>
    @if(isSignedIn && role == 'ROLE_ENTREPRENEUR'){
      <button (click)="onProductsManagement()">FDFSDFDS</button>
    }
  </div>

  <input class="search-input" matInput placeholder="Search" >

  <div>
<!--    <button mat-icon-button class="example-icon" routerLink="/users/product-page">-->
<!--      <mat-icon>store_mall_directory</mat-icon>-->
<!--    </button>-->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="" routerLink="/users/wishlist" routerLinkActive="active">
      <mat-icon>favorite</mat-icon>
      <span matBadge="{{ wishlistItemCount }}" matBadgeOverlap="false"> </span>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/users/checkout" routerLinkActive="active">
      <mat-icon>shopping_cart</mat-icon>
      <span matBadge="{{ cartItemCount }}" matBadgeOverlap="false"> </span>
    </button>
    <button mat-icon-button class="orders-customer" aria-label="" routerLink="/users/orders" >
      <mat-icon> table_chart</mat-icon>
    </button>

    <app-authentication-section></app-authentication-section>

  </div>

</mat-toolbar>

<!--<div class="content-container">-->
  <router-outlet></router-outlet>
<!--</div>-->
<!--<<<<<<< HEAD-->

<!--=======-->
<!--&gt;>>>>>> f91f8bde22b23820b78fe826903857bc8721f3f6-->
