.payment-form-card {
  max-width: 600px;
  margin: auto;
  padding: 20px;
}

.mat-form-field {
  width: 100%; /* Makes input fields take the full width of the card */
  margin-bottom: 16px; /* Adds space between each field */
}

.submit-button {
  width: 100%; /* Full width button */
}
.payment-form-container {
  display: flex;
  justify-content: space-between; /* Alinea los elementos en dos columnas */
  align-items: center; /* Centra verticalmente los elementos en ambas columnas */
}

.payment-form-card {
  flex: 1; /* El formulario ocupará el 50% del espacio disponible */
  margin-right: 20px; /* Espacio entre el formulario y la imagen */
}

.image-side {
  flex: 1; /* La imagen ocupará el 50% del espacio disponible */
  text-align: center; /* Centra la imagen horizontalmente */
}

.image-side img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
}
