<div class="payment-form-container">
  <mat-card class="payment-form-card">
    <mat-card-header>
      <mat-card-title>Detalles de Pago</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form (ngSubmit)="processPayment(paymentForm)" #paymentForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Nombre del titular</mat-label>
          <input matInput placeholder="Nombre del titular" ngModel name="cardholder" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Número de tarjeta</mat-label>
          <input matInput placeholder="Número de tarjeta" ngModel name="cardNumber" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Fecha de expiración (MM/AA)</mat-label>
          <input matInput placeholder="MM/AA" ngModel name="expiration" required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>CVV</mat-label>
          <input matInput type="number" placeholder="CVV" ngModel name="cvv" required>
        </mat-form-field>

<!--        <button mat-raised-button color="primary" type="submit" class="submit-button">Procesar Pago</button>-->
        <button mat-raised-button color="primary" type="submit" class="submit-button" (click)="checkout()">Procesar Pago</button>

      </form>
    </mat-card-content>
  </mat-card>

  <div class="image-side">
    <img src="/assets/img/comprar.png" alt="Decorative Image">
  </div>
</div>
