<mat-card class="product-card">
  <div class="product-view-card">
    <div class="card-content">
      <div class="card-img-container">
        <img mat-card-image src="{{product.imageUrl}}" alt="Photo of a product">
      </div>
      <button mat-icon-button class="arrow-back-icon" (click)="backProducts()">
        <mat-icon>arrow_back</mat-icon>
      </button>


      <div class="product-info">
        <mat-card-header>
          <div class="container-info">
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-subtitle>{{ product.price }}</mat-card-subtitle>
            <p>{{product.description}}</p>

            <div class="quantity-selector">
              <label for="quantity">Quantity:</label>
              <input type="number" id="quantity" min="1" max="100" [(ngModel)]="selectedQuantity">
            </div>

          </div>
        </mat-card-header>
        <div class="container-footer">
          <mat-card-actions>
            <button mat-icon-button class="wishlist-icon" (click)="addToWishlist()">
              <mat-icon>favorite</mat-icon>
            </button>
            <button mat-flat-button color="primary" (click)="addToCart()"><mat-icon>add_shopping_cart</mat-icon> Add Cart</button>
          </mat-card-actions>
        </div>
      </div>
    </div>
  </div>
</mat-card>
