.bicon{
  color: #CACEDE;
  width: 4.063rem;
  height: fit-content;
  border-radius: 100%;
}

.tit1{
  font-family: Open Sans;
  font-size: 2.5rem;
  color: #003785;
}

mat-toolbar{
  width: 100%;
  display: flex;
  gap: 7.5%;
  align-items: center;
  justify-content: center;
}

mat-form-field{
  width: 57.5rem;
  height: 3.75rem;
  border-radius: 1.25rem;
}

.shortcuts{
  display: flex;
  gap: 105px;
}
