<div class="payment-form-container">
    <section class="payment-section">
      <mat-card class="payment-form-card">
        <mat-card-content class="card-payment-form">
          <form (ngSubmit)="processPayment()" #paymentForm="ngForm" class="form">
            <mat-form-field appearance="fill" *ngFor="let field of fields; let i = index">
              <mat-label>{{field.label}}</mat-label>
              <input matInput [placeholder]="field.placeholder" [(ngModel)]="field.model" name="{{field.name}}" required>
              <mat-error *ngIf="paymentForm.controls[field.name].invalid && (paymentForm.controls[field.name].dirty || paymentForm.controls[field.name].touched)">
                {{field.error}}
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" routerLink="/final-payment" (click)="processPayment()" class="btn-pay">Procesar Pago</button>
          </form>
        </mat-card-content>
      </mat-card>
    </section>
      <section class="products-card">
        <h1>Productos seleccionados</h1>
        @if(forCalculateArray.length > 0){
          <div class="cart-container">
            <h2 class="total">Total: {{ total | currency }}</h2>

            @for(item of forCalculateArray;track item){
              <div class="card-img-container">
                <img mat-card-image [src]="item.imageUrl" alt="Photo of {{item.name}}">
              </div>
              <div class="container-info">
                <p>{{ item.name }}</p>
                <p>{{ item.price | currency }}</p>
                <p>{{item.quantity}}</p>

              </div>

            }
          </div>
        }
      </section>
</div>
