.payment-section{
  width: 100%;
  padding: 20px;
}
.payment-form-card{
  display: flex;
  flex-direction: column;
  height: auto;
  max-width: 600px;
  margin: 0 auto;
}
.form{
  display: flex;
  flex-direction: column;
}
.btn-pay{
  background-color: black;
}
.btn-pay:hover{
  background-color: #1976d2;
}

.products-card{
  padding: 20px;
}
.cart-container{
  width: 100%;
}
