<div class="container-auth" >
  <form class="auth-page-form" >
    <mat-card>
      <h1>¡Bienvenido a ComPeru!</h1>

      <p> <mat-icon>store_mall_directory</mat-icon> Bienvenido al servicio de autenticacion de tienda </p>
      <button mat-raised-button color="primary" routerLink="/users/auth/register-store">Registra tu Tienda</button>
      <br>
      <p>O entrar a tu tienda</p>
      <button mat-raised-button color="primary" routerLink="/users/auth/login-store">Ir a Tienda</button>
    </mat-card>
  </form>
</div>
