.header-container{
  display: flex;
  justify-content: space-between;
  /*background-color: blueviolet;*/
  align-items: center;
  height: 100px;
}
.header-container-links{
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.header-container-links a{
  flex: 1;
  font-size: 20px; /* Increased font size */
  color: #1B2854;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border: #1CAEC1;
}

.header-container-links a:hover{
  cursor: pointer;
  color:#1C85EB;
}

.header-container-buttons{
  display: flex;
  justify-content: space-around;
  width: 250px;

}
.header-button{
border: none;
  background-color: #1B84FF;
  color: white;
}
.header-button-update{
  background-color: #1CAEC1;
  color: white;
  width: 100px;
}
.header-button-cancel{
  background-color: #B9B9B9;
  color: white;
  width: 100px;
}


.cards-container{
  /*background-color: cornflowerblue;*/
  display: grid;
  grid-template-columns: 1fr; /* Una columna por defecto en dispositivos móviles */
  place-items: center;
  grid-gap: 20px;
  height: 100%;
  width: 100%;

}
.card-general{
  height: 550px;
  width: 380px;
  min-width: 382px;
  padding:20px;
  border-radius: 10px;
}

.title{
  font-size: 25px;
}
.description-text-area{
  min-width: 300px;
  width: 90%;
}
mat-card-title{
  font-size: 25px;
}
mat-card-header{
  margin-bottom: 15px;
}

.card-subcontainer{
  margin: 10px 0;
}
.subcontainer-1 mat-form-field{
  padding-bottom: 0;
  height: 70px;

}
.subcontainer-1 p{
}

.text-under{
  color: #CACEDE;
  font-weight: 400;
}

.subcontainer-title{
  font-size: 17px;
  font-weight: 500;
}

.subcontainer-2{
  margin-top: 30px;
}

.subcontainer-5{
  height: 100%;
}
.cards-container__left{
  height: 520px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.cards-container__down{
  height: 520px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.card-price{
  height: 250px;
}

.card-status{
  height: 250px;
}

.card-details{
  height: 650px;
}
.card-stock{
  height: 250px;
}
.card-rating{
  height: 250px;
}
.card-files mat-card-content{
  height: 100%;
}

.files-container_case-1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.files-container_case-1 button{
  height: 60px;
  width: 200px;
  background-color: #003785;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;

}

.files-container_case-1 p{
  margin-top: 15px;
  font-size: 15px;
  color: #CACEDE;
  font-weight: 400;
}

.files-container_case-2{
  width: 100%;
  height: 95%;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-gap: 10px;
}
.files-container_case-2 .case-2_container-add{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.files-container_case-2 button{
  height: 50px;
  width: 150px;
  background-color: #003785;
  color: white;
  font-size: 12px;
  font-weight: 500;
  border-radius: 10px;

}

.files-container_case-2 p{
  margin-top: 7px;
  font-size: 15px;
  color: #CACEDE;
  font-weight: 400;
}

.files-container_case-2 .image-preview{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.files-container_case-2 .image-preview img{
  object-fit: contain;
  height: 200px;
  width: 200px;
}


@media (min-width: 1400px) {
  .sec-form{
    max-width: 1600px;
    margin: 0 auto;
  }

  .cards-container{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-rows: 1fr 1fr;
  }
  .card-general {
    grid-area: 1/1/2/2;
    height: 550px;
    width: 100%;
  }
  .card-details{
    grid-area: 1/3/2/4;
    height: 550px;
    width: 100%;
  }
  .cards-container__left{
    height: 550px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  .card-status{
    height: 270px;
  }
  .card-price{
    height: 270px;
  }

  .card-details mat-card-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 10px;
  }

  .card-details mat-card-content .subcontainer-2{
    margin-top: 10px;
  }

  .card-details mat-card-content .subcontainer-2{
    padding-bottom: 0;
    height: 70px;
  }

  .cards-container__down{
    grid-area: 2/1/3/2;
    width: 100%;
    height: 100%;

  }

  .card-stock{
    width: 100%;
    height: 270px;
  }

  .card-rating{
    width: 100%;
    height: 270px;
  }
  .card-files{
    grid-area: 2/2/3/4;
    width: 100%;
    height: 100%;
  }
  .subcontainer-5{
    height: 100%;
  }
  .files-container_case-1{
    margin: 0 auto;
    width: 90%;
    height: 90%;
    border: 2px dashed #B9B9B9;
  }
  .files-container_case-1:hover {
    background-color: rgba(0, 0, 0, 0.05);
    /*cursor: pointer;*/
  }
  .files-container_case-2{
    grid-template-columns: 1fr 3fr;
    grid-gap: 15px;
    place-items: center;
  }
  .files-container_case-2 .image-preview{
    max-height: 500px;
    max-width: 700px;
    border-radius: 10px;
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .case-2_container-add button{
    height: 50px;
    width: 200px;
  }
}
