.card-nothing{
  height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  padding-left: 25px;
  border-radius: 20px;
}
.card-nothing .title{
  margin-bottom: 10px;
  font-size: 30px;
}
.card-nothing .subtitle{
  font-size: 15px;
}
.card-button{
  margin-top: 15px;
  background-color: #003785;
  color: white;
  height: 37px;
  width: 200px;
  border-radius: 10px;

}
.table-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.table-header button{
  height: 50px;
  width: 140px;
  border-radius: 5px;
  border: none;
  background-color: #1B2854;
color: white;
  font-size: 15px;
  font-weight: 600;
}
.table-header-search{
padding: 0;
  margin: 0;
  height: 60px;

}

.select-table{
  height: 20px;
  width: 40px;
}

.management-container{
  background-color: white;
  border-radius: 10px;
  height: 80vh;
  padding: 20px;
  min-width: 600px;
  max-width: 80%;
  margin: 0 auto;
}

