<mat-toolbar class="mat-elevation-z3">
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<!--[opened]="sideNavOpen"-->
<mat-sidenav-container>
  <mat-sidenav  [opened]="sideNavOpen" mode="side" [style.width]="'250px'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'products'"  class="sidenav-container-text">
        <mat-icon >store</mat-icon>
        <span>
          Products
        </span>
      </a>
      <a mat-list-item [routerLink]="'orders'" class="sidenav-container-text">
        <mat-icon>Order</mat-icon>
        <span>
          Orders
        </span>
      </a>

    </mat-nav-list>


  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>


