<div style="justify-content: center">
  <div style="justify-content: center">
    <app-header></app-header>
    <div class="sub_toolbar">
      <a href="home">Home</a>
      <a href="">Categories</a>
      <a href="">Contact</a>
      <a href="">About</a>
    </div>
  </div>
  <div class="banner_zone">
    <img src="src/assets/images/Banner.png" alt="Banner de producto">
  </div>
  <h1 class="tit2">Ofertas del día</h1>
  <div class="offers_zone">
    <mat-card *ngFor="let offer of offers">
      <mat-card-header>
        <img mat-card-image src="{{offer.photo}}">
      </mat-card-header>
      <mat-card-content>
        <h3>{{ offer.name }}</h3>
        <h4>Precio regular</h4>
        <h5><b>{{ offer.price }}</b></h5>
        <h4>Oferta más baja</h4>
        <h5><b>{{ offer.offer }}</b></h5>
      </mat-card-content>
      <mat-card-footer>
        <a href="">Ver detalles>></a>
      </mat-card-footer>
    </mat-card>
  </div>
</div>
<app-footer></app-footer>

