.container-products{
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media (min-width: 1490px) {
  .container-products{
    justify-content: start;
  }
}
