.table-wrapper {
  width: 1024px;
  background-color: white;
  border-radius: 10px;
  height: 80vh;
  padding: 20px;
  min-width: 600px;
  max-width: 80%;
  margin: 0 auto;
}

table {
  width: 100%;
}

tr.editable-row {
  background-color: lightblue;
}
