
  <div class="container-auth" >
  <form class="auth-page-form" >

    @if (authService.currentUserSig() == null ){
      <mat-card>
      <h1>BIENVENIDO A COMPERU</h1>

      <p>Si eres nuevo, regístrate es gratis</p>
        <button mat-raised-button color="primary" routerLink="/register">Registrarse</button>
        <br>
        <p>O</p>
        <p>Si ya tienes cuenta, ingresa aquí</p>
        <button mat-raised-button color="primary" routerLink="/login">Ingresa aquí</button>
    </mat-card>

    }
    @if (authService.currentUserSig()){
      <div class="topNavigationItem">
        <div class="structurizrBackgroundLight" ><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="account_circle"></mat-icon>
          {{authService.currentUserSig()?.username}}</div>
      </div>
      <button mat-raised-button color="primary" class="submit-button" (click)="logout()">LogOut</button>
    }
    @if (authService.currentUserSig()){
      <div class="logout-message">
        <h2>Hasta luego, esperamos verte pronto!</h2>
      </div>
    }

  </form>
  </div>

  <div class="entrepreneur-section">
    <form class="bottom-store">
      <mat-card>
        <p><mat-icon>store_mall_directory</mat-icon>
          Si eres emprendedor, ingresa aquí</p>
        <button mat-raised-button color="primary" routerLink="/users/stores-choose">Ingresa aquí</button>
      </mat-card>
    </form>
  </div>
