
  <div class="container-auth" >
  <form class="auth-page-form" >
    <mat-card>
    <h1>BIENVENIDO A COMPERU</h1>

    <p>Si eres nuevo, regístrate es gratis</p>
      <button mat-raised-button color="primary" routerLink="/users/register">Registrarse</button>
      <br>
      <p>O</p>
      <p>Si ya tienes cuenta, ingresa aquí</p>
      <button mat-raised-button color="primary" routerLink="/users/login">Ingresa aquí</button>
  </mat-card>
  </form>
  </div>

  <div class="entrepreneur-section">
    <form class="bottom-store">
      <mat-card>
        <p><mat-icon>store_mall_directory</mat-icon>
          Si eres emprendedor, ingresa aquí</p>
        <button mat-raised-button color="primary" routerLink="/users/auth/store">Ingresa aquí</button>
      </mat-card>
    </form>
  </div>
